 
<p>

  
<table>
  <col width="180">
  <col width="150">
  <col width="150">
  <col width="150">
  
    <tr>
      <h5><th><%= link_to "Cart: #{current_cart.id}", cart_path(current_cart) %> User:<%= current_cart.user_id %></th>
      <th><%= current_cart.user.email %></th>
      <th>Status: <%= current_cart.status %></th>
    ______________________________________________________________________________

      </tr></h5>
    <tr>

      <th>Item</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
    <% current_cart.line_items.each do |litem| %>
    <tr>
      <td><%= link_to "#{litem.item.title}", item_path(litem.item) %></td>
      <td><%= litem.quantity %></td>
      <td><%= number_to_currency(litem.item.price) %></td>
      <td><%= number_to_currency(litem.item.price * litem.quantity) %></td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><h5><strong>Total</strong></h5></td>
      <td>
          <h5><strong><%= number_to_currency(current_cart.total) %></strong></h5>      
      </td>
    </tr>

</table>
______________________________________________________________________________
