<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<% if !!current_user %>

  <% current_cart.line_items.each do |line_item| %>
    <%= link_to line_item.item.title, item_path(line_item.item) %> | <%= number_to_currency(line_item.item.price) %> | Quantity: <%= line_item.quantity %>

  <% end %>

  <p>Order total: <strong><%= number_to_currency(current_cart.total) %></strong> </p>


  <% if current_cart.status != "submitted" %>
  <%= button_to 'Checkout', checkout_path(@cart) %>
  <% end %>

<% end %>  