<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<% if !!current_user %>

  <% @cart.line_items.each do |line_item| %>
    <%= link_to line_item.item.title, item_path(line_item.item) %> | <%= number_to_currency(line_item.item.price) %> | Quantity: <%= line_item.quantity %><br>
   <% end %>

  <p>Order total: <strong><%= number_to_currency(@cart.total) %></strong> </p>

  <% if @cart  %>
    <%= button_to 'Checkout', checkout_path(@cart) %>
  <% end %>  
<% end %>  